/* Global Styles */
body {
    background-color: #232323;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}



/* Form Styles */
form {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.back-btn {
    display: inline-block; /*  */
    padding: 10px 20px;
    background-color: #004f87;
    color: #ffffff;
    text-align: center;
    text-decoration: none; /*  */
    border-radius: 45px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.back-btn:hover {
    background-color: #ff9800;
}

.back-btn:active {
    background-color: #e64a19;
}

.back-btn:focus {
    outline: none;
    box-shadow: 0 0 10px teal;
}
/* Button Styles */
button {
    background-color: #cd7f0b;
    color: #121212;
    border: none;
    border-radius: 88px; 
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 50px;
}

button:hover {
    background-color: teal;
}

button:focus {
    outline: none;
    box-shadow: 0 0 10px #ff9800;
}

button:active {
    background-color: #e64a19;
}

/* Iframe Styles */
iframe {
    position: relative; /*  */
    margin-top: 20px; /* */
    width: 88%;
    height: 88%;
    border-radius: 55px;
    border: 12px solid teal;
    box-shadow: inset 20px 5px 50px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.title-container {
    position: relative;
    overflow: hidden;
    background-color: teal;
    border-radius: 45px;
    border: 20px;
    border-color: orange;
    width: 88%;
    height: 22%;
    align-items: center;
    margin-top: 5px;
}

.title {
    text-shadow: #004f87aa;

    margin-top: 0px;
    align-items: center;
    justify-content: flex;
    color: #fff;
    position: relative;
    z-index: 1;
    pointer-events: none; /* */
    white-space: nowrap; /*  */
    color: orange;
    font-size: calc(2vw + 2vh + 2vmin); /*  */
    font-family: Arial, Helvetica, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -50%; /* */
    width: 200%; 
    height: 440%;
    background: linear-gradient(120deg, rgba(255,255,255,0) 30%, rgba(255, 255, 255, 0.426) 50%, rgba(255,255,255,0) 70%);
    transform: translateY(-50%);
    pointer-events: none;
    animation: lightRay 6s infinite linear; /*  */
}

@keyframes lightRay {
    0% {
        left: -250%; /*  */
    }
    100% {
        left: 120%; /*  */
    }
}

.title-container:hover .title::before {
    left: calc(var(--mouse-x) - 50%);
    transition: left 0.1s ease;
    animation: none; /* */
}

.title-container {
    --mouse-x: 50%;
    --mouse-y: 50%;
}

.title-container:hover {
    cursor: pointer;
}

.title-container:hover::before {
    content: "";
    position: absolute;
    inset: 0;
    background: transparent;
    pointer-events: none;
}

.operacao {
    font-size: 3rem;
}
