<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>Escolha a operação</title>
    <style>
        
    </style>
</head>
<body>
    <h2>Escolha a operação:</h2>
    <br>
    <form action ="/define_dificuldade" method="POST">
        <button class ="custom-btn" type="submit" name="operacao" value="Adição">Adição</button>
        <br>
        <button class ="custom-btn" type="submit" name="operacao" value="Subtração">Subtração</button>
        <br>
        <button class ="custom-btn" type="submit" name="operacao" value="Multiplicação">Multiplicação</button>
        <br>
        <button class ="custom-btn" type="submit" name="operacao" value="Divisão">Divisão</button>
    </form>
</body>
</html>
