<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    </style>
</head>
<body>
    <h2>Escolha a dificuldade para para realizar a operação de:</h2>
    <p>{{operacao}}</p>
    <form action="realizar_operacao" method="POST">
        <!-- Campo de entrada oculto para armazenar o valor da operação -->
         
        <input type="hidden" name="operacao" value="{{ operacao }}">
        <button type="submit" name="dificuldade" value="Fácil">Fácil</button>
        <br>
        <button type="submit" name="dificuldade" value="Médio">Médio</button>
        <br>        
        <button type="submit" name="dificuldade" value="Difícil">Difícil</button>
    </form>
</body>
</html>
