<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Treino Matemático</title>
    <style>
        
    </style>
</head>
<body>
    <div class="title-container">
            <p class="title"><b><i>Treino <br>Matemático</b></i></p>

    </div>
    <iframe src="{{url_for('define_operacao')}}" ></iframe>
</body>
</html>
