<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>realizar operação</title>
    <style>
        </style>
    <script>
        function validateInput() {
          const input = document.getElementById("resposta_usuario").value;
          const floatPattern = /^-?\d+(\.\d+)?$/; 
      
          if (!floatPattern.test(input)) {
            alert("Por favor, insira um número válido (inteiro ou decimal).");
            return false; // 
          }
          return true; // 
        }
      </script>
</head>
<body>
    <h2><b>Tipo de operação:</b><br> {{operacao}}</h2>
    <h2><b>Dificuldade:</b><br>{{dificuldade}}</h2>
    <p><b>Realize a seguinte operação</b><br></p>
    <p class="operação">{{str_operacao}} = </p>
    <form action="resultado_operacao" method="POST" onsubmit="return validateInput()">
        <input type="text" name="resposta_usuario" id="resposta_usuario" required><br>
        <button type="submit" class="btn btn-primary">Enviar resposta</button>
        <input type="hidden" name="resultado" value="{{resultado}}">
    </form>
    
</body>
</html>