<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>Resultado</title>
    
    </style>
</head>
<body>
    
    <h1><b>{{msg}}</b></h1>
    
    <h2>Obrigado por participar</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="/define_operacao" class="back-btn">Escolher o tipo de operação</a><br>


</body>
</html>